<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-event" method="post">
    <input type="text" placeholder="Description" name="description" size="50"/>
    <input type="datetime-local" name="dateTime" value="{{now}}"/>
    <button type="submit">Create Event</button>
</form>
{{/user}}

{{#events}}
{{description}} {{dateTime}}<br/>
{{/events}}

{{#previous}}
<a href="/?page={{prevPageNum}}"> <-- Previous Page</a>
{{/previous}}

{{#next}}
<a href="/?page={{nextPageNum}}">Next Page --> </a>
{{/next}}

</body>
</html>